#app {
    background-color: #CFD8DC;
}

li {
    list-style-type: none;
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Login//////////////////////////////// */
.bigTitle {
    font-size: 8em;
    font-family: 'Judson', serif;
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Layouts//////////////////////////////// */
.logo {
    border-radius: 25px;
    background-color: #C2185B;
    font-family: 'Judson', serif;
    font-size: 20px;
}

.logo:hover {
    background-color: #E91E63;
}

.lightMain {
    height: 10vh;
    z-index: 3;
    background-color: #CFD8DC;
}

main {
    margin-top: 17vh;
}

.stickyBloc {
    height: 12vh;
}

.leftSide {
    height: 100vh;
}

.leftSideMobil {
    height: 100vh;
    display: none;
    padding: 0
}

.rightSide {
    height: 100vh;
}

.rightSideMobil {
    height: 100vh;
    display: none;
    padding: 0;
}

.cssSide {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.btdesign {
    width: 140px;
    border-radius: 25px;
    background-color: #512DA8;
}

.btdesign:hover {
    background-color: #7C4DFF;
}

.btCache {
        display: none;
    }
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Posts//////////////////////////////// */
.postedBy {
    color: #7C4DFF;
    font-style: italic;
}

.persoPurple {
    background-color: #512DA8;
}

.persoPurple:hover {
    background-color: #7C4DFF;  
}

.textPurple {
    color: #512DA8;
}

.card-body h2 {
    font-family: 'Merriweather', serif;
    color: #5D4037;
}

.card-body p {
    color: #607D8B;
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////@MEDIA//////////////////////////////// */
@media (max-width: 1199px) {
    .btdesign {
        width: 100px;
    }
}

@media (max-width: 991px) {

    .btdesign {
        width: 140px;
    }

    .btCache {
        display: block;
    }

    .leftSide {
        display:none;
    }

    .leftSideMobil {
        display: block;
    }

    .rightSide {
        display:none;
    }

    .rightSideMobil {
        display: block;
    }  
}

@media (max-width: 767px) {

}

@media (max-width: 400px) {

}

