#app {
    background-color: #CFD8DC;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Login//////////////////////////////// */
.bigTitle {
    font-size: 8em;
    font-family: 'Judson', serif;
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Layouts//////////////////////////////// */
.logo {
    border-radius: 25px;
    background-color: #C2185B;
    font-family: 'Judson', serif;
    font-size: 20px;
}

.logo:hover {
    background-color: #E91E63;
}

.lightMain {
    height: 10vh;
    z-index: 1;
    background-color: #CFD8DC;
}

main {
    margin-top: 14vh;
}

.stickyBloc {
    height: 12vh;
}

leftside {
    height: 100vh;
}

rightside {
    height: 100vh;
}

.cssSide {
    height: 80vh;
}

.btdesign {
    width: 130px;
    background-color: #512DA8;
}

.btdesign:hover {
    background-color: #7C4DFF;
}

.dropdown-item:hover {
    background-color: #7C4DFF;
    color: white;
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Posts//////////////////////////////// */
.postedBy {
    color: #757575;
    font-style: italic;
}

.card-footer {
    
}
.persoPurple {
    background-color: #512DA8;
}

.persoPurple:hover {
    background-color: #7C4DFF;
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////@MEDIA//////////////////////////////// */
@media (max-width: 1199px) {
    
}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {
     
}

@media (max-width: 400px) {
    
}

